.arrivals {

    padding: 48px 0;

    &__row {
        @include flex-between
    }

    &__slider {  
       display: flex;
       gap: 24px;

    }

    &__title {
    }

    

    &__dots {
    }
}

.container {
}


.headline-4 {
}


.conainer-right {
}
