.footer {
	background-color: var(--text-color);
	padding: 80px 0 32px;
	font-size: 32px;
    color: #e8ecef;

	a {  
		color: #fefefe;
	}
	&__row { 
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&--border {  
			padding-top: 16px;
			padding-bottom: 20px;
			border-top: 0.50px solid #6c7275;
			margin-top: 49px;
		}
	}

	&__title { 
		display: flex;
		gap: 32px;
		flex-shrink: 0;
	}

	&__logo {  
		font-family: var(--font-accent);
		font-weight: 500;
		font-size: 24px;
		line-height: 1;
		text-align: center;
		color: #fff;

		 
	}

	&__seperator {  
		background-color: #6c7275;
		width: 1px;
		height: 24px;
	}

	&__store {
		font-weight: 400;
		font-size: 14px;
		line-height: 157%;
		color: #e8ecef;
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: 40px;
		font-size: 14px;
		line-height: 1.5;

		 
	}
	&__copyright {
		display: flex;
		align-items: center;
		gap: 28px;
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 12px;
		line-height: 167%;
		color:  #e8ecef;

		a {  
			font-weight: 600;
			line-height: 167%;
		}

	}

	&__socials {  
		display: flex;
		gap: 24px;
		align-items: center;
	}

	 
}