.hero {  
    height: 820px;
    background:  #FFC95C ;
    background-image: url('./../../img/hero/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    

    &__container {  
        height: 100%;
        display: flex;
        align-items: center;
        // background-color: #666;
        padding-left: calc(
            (100% - var(--container-width)) / 2 + (var(--container-width)/2)
        );
        padding-right: calc((100% - var(--container-width))/2);
    }

    &__content {  
    //    background-color: #000; 
       color: #fff;
    }

    &__title {
        font-family: var(--font-accent);
        font-weight: 500;
        font-size: 80px;
        line-height: 1;
        letter-spacing: -3px;
        color: #121212;
        margin-bottom: 8px;
        span {  
           color: #377dff; 
        }
    }

    // .hero__desc

    &__desc {
        margin-bottom: 28px;
        font-size: 20px;
        line-height: 160%;
        color: #121212;
    }

    // .hero__link

    &__link {
        
    }

    .btn {
        }
}



    // .hero__title

   

 