.promotion__timer-box {
        display: flex;
        gap: 16px;
}
.timer {
    width: 60px;
    height: 80px;
    color: #141718;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__number {  
        background-color:  #FEFEFE;
        width: 100%;
        height: 60px;
        @include flex-cent;

        span {  
            font-size: 34px;
            line-height: 38px;
            letter-spacing: -0.6px;
        }
    }
    &__text {  
        font-size: 12px;
        line-height: 20px;
    }
}