<div class="promotion__timer-box">
    <div class="timer">
        <div class="timer__number">
            <span id="days"></span>
        </div>
        <span class="timer__text">Days</span>
    </div>
    <div class="timer">
        <div class="timer__number">
            <span id="hours"></span>
        </div>
        <span class="timer__text">Hours</span>
    </div>
    <div class="timer">
        <div class="timer__number">
            <span id="minutes"></span>
        </div>
        <span class="timer__text">Minutes</span>
    </div>
    <div class="timer">
        <div class="timer__number">
            <span id="seconds"></span>
        </div>
        <span class="timer__text">Seconds</span>
    </div>
</div>